    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>
                <div>Your mind is the key</div>
              </h2>
              <div>
                <img style="width:50px; height:50px;" src="img/keyflat.png">
              </div>
              <div class="lead" style="margin-bottom: 40px;">
                I welcome you to join me on a journey of exploration into the transformational healing properties of your mind, body, and spirit.
              </div>
        </div>
    </section>
